* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	outline: none;
}
.where {
	margin-top: 20px;
	margin-bottom: 40px;
}

#container {
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
#location > input {
	opacity: 0.4;
	display: block;
	margin: 15px auto;
	padding: 10px;
	transition: 0.3s ease-in-out;
	border-radius: 30px;
	width: 14%;
	letter-spacing: 1.5px;
	border: 1px solid rgb(240, 218, 218);
}

#location > input:focus {
	opacity: 1;
	border: 1px solid rgb(229, 175, 175);
}

#note #note1 h2 {
	display: inline-flex;
	font-weight: lighter;
}
#note a {
	text-decoration: none;
	color: rgb(65, 56, 56);
	transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#note a:hover,
.footer1 a:hover {
	font-size: 17px;
}

#confirmbutton {
	margin: 30px;
	background-color: rgb(244, 79, 70);
	width: 170px;
	height: 30px;
	padding: 5px 10px;
	border: none;
	border-radius: 30px;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	font-weight: bolder;
	letter-spacing: 1.5px;
	transition: 0.9s ease;
}

#confirmbutton:hover {
	color: rgb(244, 79, 70);
	background-color: #fff;
	font-weight: bolder;
	border: 1px solid rgb(142, 119, 118);
}

.footer1 {
	display: flex;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.footer1 div {
	flex-wrap: wrap;
	text-align: center;
}

.footer1 div,
.footer1 a {
	margin: auto;
	transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	color: #000;
	text-decoration: none;
}

@media (max-width: 750px) {
	#container {
		width: 100%;
		height: 100%;
		margin: auto;
	}
	#location > input {
		margin: 10px auto;
		padding: 10px;
		border-radius: 15px;
		width: 30%;
		font-size: 10px;
	}
	.footer a {
		justify-content: center;
		text-align: center;
	}
	#confirmbutton {
		margin: 20px 20px 5px 20px;
		width: 130px;
		height: 40px;
		font-size: 12px;
		padding: 5px 10px;
	}
	.where {
		margin-top: 15px;
		margin-bottom: 30px;
	}

	#note a {
		font-size: 20px;
	}

	.footer1 {
		display: block;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		margin-top: 20px;
		text-align: center;
	}

	.footer1 div {
		font-size: 20px;
		display: block;
		margin-top: 15px;
	}
}

.msg-title-field {
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
	font-family: 'Arial';
	font-style: normal;
	font-weight: lighter;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: #000000;
	margin-top: 4%;
	margin-left: 10%;
	height: 3rem;
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 1rem;
	outline: 0;
}
.form-wrapper {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 80%;
	box-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
	background-color: white;
	padding: 5%;
	margin: 5% 9.5%;
}
