
.welcomeLogo svg {
	background-color: azure;
	padding: 1%;
	border: rgb(241, 54, 132) 2px solid;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: 55px;
	line-height: 50px;
	height: 7vh;
	display: inline;
}


.welcome .topLogo {
	display: inline-flex;
	margin-left: 7%;
	width: 50%;
}
.welcome {
	text-align: center;
	align-items: center;
	width: 28%;
	background-color: #fff;
	margin-left: 37%;
	margin-top: 7%;
	padding: 3% 1%;
	padding-top: 1.5%;
	border-radius: 15px;
}
.welcome .topLogo {
	padding: 5%;
	text-align: center;
	align-items: center;
	width: 120%;
	margin-left: 40%;
}
.welcomeWord {
	margin: 2%;
	color: rgb(241, 54, 132);
	margin-bottom: 20%;
}
.welcome a {
	background: rgb(241, 54, 132);
	color: #fff;
	padding: 3.5% 22%;
	border-radius: 8px;
}